* {
	transition: all ease-in-out .5s;
}

body{
  background-color: #a7dbe3;
  color: #4e476a;
  font-size: 21px;
  font-family: verdana;
  
}


h1{
	font-size: 70px;
	color: #3747b3;
	font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman", serif;
	margin-bottom:0px;
}

h2{
	margin-top: 0px;
}

p{
	margin-top: 0px;
	margin-bottom: 15px;
	line-height:1.4;
	
	
	clear: both;
}

img{
  float: none;
  margin-right: 20px;
  margin-left: 20px;
  float:left;
}
.red-box{
	width: 500px;
	background: rgba(255,0,0,.5);
	float:left;
}

.blue-box{
	width: 500px;
	background: blue;
	color: white;
	float:right;
}

.box{
	width: 100px;
	height: 100px;
	float:left;
}

.box1{
	background-color:pink;
}

.box2{
	background-color:red;
}

.box3{
	background-color:firebrick;
}

.box4{
	background-color:orange;
}

.box5{
	background-color:yellow;
	clear:left;
}

.box6{
	background-color:lime;
}

.box7{
	background-color:green;
}

.box8{
	background-color:blue;
}

.box9{
	background-color:purple;
}
